.photo {
    width: 95px;
    height: 95px;
}

.item {
    background-color: rgb(212, 213, 214);
    border-radius: 15px;
    width: 125px;
    height: 200px;
    margin: 45px;
    padding: 15px;
}

.contn {
    display: flex;
    flex-wrap: wrap;
}
