@model IEnumerable<FurnitureVM>
@{
    ViewData["Title"] = "Home Page";
}

<script>
    function RedirectToFurniturePage(id) {
        window.location.href = window.location.protocol + "//" + window.location.host + "/" + "Views/FurniturePage?id=" + id
    }
</script>

<div class="contn">
    @foreach (var item in Model)
    {

        <div class="item" onclick='RedirectToFurniturePage("@item.Id")'>
            <img class="photo" src=@item.ImgUrl />
            <p>@item.Name</p>
            <p>@item.Price</p>
        </div>
    }
</div>
