@model IndexVM
@{
    ViewData["Title"] = "Home Page";

    //logit to corect view
    int takeInt = int.Parse(Model.previousQuery["take"]);
    int skipInt = int.Parse(Model.previousQuery["skip"]);
}


<script>
    function RedirectToFurniturePage(id) {
        window.location.href = window.location.protocol + "//" + window.location.host + "/" + "Views/FurniturePage?id=" + id
    }
</script>

<div id="filter" class="filter">
    <form asp-action="Index" asp-controller="Views" method="get">
        <label>Name : </label>
        <input type="text" name="containPart" />
        <label>min Price : </label>
        <input type="number" name="minPrice" />
        <label>max Price : </label>
        <input type="number" name="maxPrice" />
        <label>Category : </label>
        <input type="number" name="category" />
        <button type="submit">Filter</button>
    </form>
</div>

<div class="contn">

    @foreach (var item in Model.mapedlist)
    {

        <div class="item-index" onclick='RedirectToFurniturePage("@item.Id")'>
            <img class="photo" src=@item.ImgUrl />
            <p>@item.Name</p>
            <p>@item.Price</p>
        </div>
    }
</div>
<pager asp-paged-total-element=@Model.CountMappedItem;
       asp-paged-index=@skipInt/@takeInt
       asp-paged-take=@takeInt
       asp-controller='Views'
       asp-paged-list-url='Index'
       asp-route-parameter="skip"
       asp-route-data=@Model.previousQuery></pager>